<%- include ('partials/header')%>
  <div class="container">
    <div class="thumbnail">
      <div class="caption-full">
        <div class="info">
          <h4 class="text-right">Course Duration: <%=student.month%> months</h4>
          <h1>Name: <%=student.name%></h1>
          <h5>IETLS:  <%=student.level%></h5>
          <h5>Teacher: <%=student.teachers%></h5>
        </div>
      </div>
    </div>
  </div>
<%- include ('partials/footer')%>
